<%= render 'shared/navbar' %>

<div class="banner">
  <img class="avatar-large" alt="avatar-large" src= <%= image_path "avatar-image.jpg" %> />
  <h1>Hi, I'm Julian</h1>
  <br>
  <h2>Fullstack Web Developer</h2>
</div>

<div class="container">
  <div class="column justify-content-center">

    <h2 style="color: #77a0d7;">About me</h2>
    <div class="item" data-aos="fade-right">
    </div>

      <div class="about-text">
        <p>As an art historian turned web developer, I am passionate about creating products that are both useful and visually appealing. Previously, I worked as a researcher at university, then delved into consumer research at a renowned innovation agency. This sparked my decision to learn how to code and build applications in an intense, nine-week bootcamp. Since I am always looking for opportunities to improve my skills and connect, feel free to drop me a line!</p>
      </div>

      <p>
        <span id="dynamic-typed-text"></span>
      </p>

      <h2 style="color: #77a0d7;">Projects</h2>
      <p>NABO - Creating connected neighborhoods</p>
      <div class="project">
        <a rel="stylesheet" href="https://www.nabo.world/">
          <img class="image" alt="NABO app" src= <%= image_path "Nabo_screenshot.png" %> />
          <div class="overlay">
            <div class="text">NABO - Creating connected neighborhoods</div>
          </div>
        </a>
      </div>
      <h2 style="color: #77a0d7;">Stack / Skills</h2>
      <h2 style="color: #77a0d7;">Contact</h2>
  </div>
</div>





























