<%= render 'shared/navbar' %>
<div class="banner" style="background-color: #77a0d7;">
  <img class="avatar-large" alt="avatar-large" src= <%= image_path "avatar-image.jpg" %> />
  <h1>Hi, I'm Julian</h1>
  <br>
  <h2>Welcome to my portfolio</h2>
</div>

<div class="container">
  <div class="column justify-content-center">
    <br>
    <p>About me (Write paragraph instead of bullet points!)</p>
<!--     <img src="/assets/mk85yjfwo80y.jpg" alt="nutshell" style="height:200px">
 -->
      <ul>
        <li>Born and raised in Munich, Germany</li>
        <li>Half-American, Half-German</li>
        <li>Went to college in New York City and Munich</li>
        <li>Studied art history</li>
        <li>Loves to sing and draw</li>
        <li>And now learning to code!</li>
      </ul>
      <br>

      <h2>Projects</h2>
      <br>
      <h2>Stack</h2>
      <br>
      <h2>Contact</h2>
  </div>
</div>
